<header>
    <nav>
        <ul>
            <a href="./register">
                <li>Cadastro</li>
            </a>
            <a href="./login">
                <li>Login</li>
            </a>
            <a>
                <img src="" alt="">
            </a>
        </ul>
    </nav>
</header>